 
<center><h2><font color="blue">CONTACT US</font></h2></center>
<div style="color:red"><% if @inquiry != nil %>
        <% @inquiry.errors.full_messages.each do |m| %>
        <%== m %>
        <br>
        <% end %>
     <% end %>
</div>



  <p><%== form_tag "/contact_us_post" do %>
   <h3>Name</h3> <%== text_field_tag :name, "", size: 60 %><br>
 
  <h3>Email address</h3> 
  <%== text_field_tag :email, "", size: 60 %><br>

  <h3>Message</h3>
<%== text_area_tag :body, "", rows: 8, cols: 120 %>
 <br>
 <%== submit_tag "send" %> 
<% end %></p>

