<h1>Animal Help</h1><h3>By way of transportation</h3>

<%== submit_tag "Home" %><%== submit_tag "Sign In" %><%== submit_tag "Sign Up" %>
<%== submit_tag "About" %><%== submit_tag "Contact Us" %>









<p>Find me in app/views/main/home.html.erb</p>
