<h1>SIGN UP FOR NEW ACCOUNT</h1><br>
<p>
  <h4>Email     <%== text_field_tag :subject, "", size: 30 %></h4>
  <h4>First name<%== text_field_tag :subject, "", size: 30 %></h4>
  <h4>Last name<%== text_field_tag :subject, "", size: 30 %></h4>
  <h4>Password<%== text_field_tag :subject, "", size: 30 %></h4>
  <h4>Re-enter password<%== text_field_tag :subject, "", size: 30 %></h4>
  <h4>Rescue affiliation<%== text_field_tag :subject, "", size: 30 %></h4>
  
  
</p>
