<div><% if flash[:error] != nil %>
      <%= flash[:error] %>
      <% end %>
</div>

<h2><center><font color="blue">ADMIN SIGN IN</font></center></h2>
 
<%== form_tag "/admin/sign_in_post" do %>
<p align="left">
<h4>Email Address: 
  <%== text_field_tag :email, "", size: 50 %> </h4>
<br>
<h4>Password: 
  <%== password_field_tag :password %></h4>
<br> 
</p>


<%== submit_tag "Sign In" %>
<% end %>
 

<p>Don't have an account with us? Click <a href="/sign_up">here</a> to sign up!</p>

