<center><h1> Tell us where you are, and where you're headed</h1> 
<h3> We will check to see if a pet in need needs a ride to your destination</h3><br>
</center>

<%== form_tag "/location_post" do %>

<pre><h1> <font color="">Where are you?</font>          Where are you going? </h1></pre>
 

<pre>
  City:   <%== text_field_tag :location, "" %>                             City:  <%== text_field_tag :location, "" %>
  State:  <%== text_field_tag :location, "" %>                             State: <%== text_field_tag :location, "" %> 
</pre>
        <% end %>
<pre>               or</pre>                                              

