<!DOCTYPE html>
  <html>
    <head>
    <title>Project13</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
    <center><h1>
      <a href="/"><button type="Home">Home</button></a>
      <a href="/sign_in"><button type="button">Sign In</button></a>
      <a href="/about"><button type="button">About</button></a>
      <a href="/contact_us"><button type="button">Contact us!</button></a>
      <a href="/admin/sign_in"><button type="Home">Admin</button></a>
       <%== form_tag "/sign_out" do %>
       <button type="Sign Out">Sign Out</button>
     </h1> 
    <% end %></center>
    <%= yield %>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
    
    
    

    </body>
</html>
