<!DOCTYPE html>
  <html>
    <head>
    <title>Project13</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
    <nav>
      <ul>
        <li><a href="/"><button type="Home"><font color="">Home</font></button></a>
        <li><a href="/sign_in"><button type="button">Sign In</button></a>
        <li><a href="/about"><button type="button">About</button></a>
        <li><a href="/contact_us"><button type="button">Contact Us!</button></a>
        <li><a href="/admin/sign_in"><button type="Home">Admin</button></a>
        <li><%== form_tag "/sign_out" do %>
              <button type="Sign Out">Sign Out</button>
            <% end %>
      </ul>
    </nav>
    <br>
    <%= yield %>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
    
    
    

    </body>
</html>
